@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr 5fr;
}
header {
  grid-column: 2 / 3;
  justify-self: center;
  text-align: center;
}
.search ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(3rem, 1fr));
  grid-auto-flow: dense;
  gap: 1rem;
}
input {
  transition: 0.2s ease all;
}
input[type='radio'] {
  opacity: 0;
  margin-left: -14px;
}
input[type='radio'] + label {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

input[type='radio'] + label:after {
  content: '';
  border-bottom: 3px solid transparent;
  display: block;
}

input[type='radio']:checked + label:after {
  border-color: #4ecdc4;
}
