@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr 5fr;
}
header {
  grid-column: 2 / 3;
  justify-self: center;
  text-align: center;
}
.search ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(3rem, 1fr));
  grid-auto-flow: dense;
  gap: 1rem;
}
